<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="customers">Klienci</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="customers/add">Dodaj klienta</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link" routerLink="contracts">Umowy</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="login()" *ngIf="!isLoggedIn()">Zaloguj</button>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logout()" *ngIf="isLoggedIn()">Wyloguj</button>
    </form>
</nav>